@import 'src/assets/styles/variables';

body {
	overflow-x: hidden;
}

.wrapper {
	display: flex;
	justify-content: space-between;
	flex-direction: column;

	height: 100%;
	max-width: 560px;
	width: 100%;

	padiing: 25px;
	margin: 0 auto;

	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	&.otherPage {
		height: 350px;
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 15px;
	}
}

.heading {
	display: flex;
	text-transform: uppercase;
	justify-content: center;
	align-items: center;
	color: $white;
	font-size: 40px;
}
